<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/chatstyle.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    <script src="./JS/script.js"></script>
    <title>Chat Application</title>
    </head>
    <body>
        <ul class="messages"></ul>
        <form>
            <input type="text" class="input" autocomplete="off" autofocus />
            <button>Send</button>
        </form>
        
    </body>
</html>
